<tr>
<td class="gravatar round">
<%= link_to gravatar_for(feed_item.user), feed_item.user %>
</td>
<td class="micropost round">

<span class="user round">
	<%= link_to feed_item.user.name, feed_item.user %> POSTED THIS: 
</span>
<span class="content round">

<%= feed_item.content %>

</span>
<span class="timestamp round">

Posted <%= time_ago_in_words(feed_item.created_at) %> ago.

</span>

</td>
<% if current_user?(feed_item.user) %>
<td class="micropost round">

<%= link_to "Delete", feed_item, :method => :delete,
								  :confirm => "sure?",
								  :title => feed_item.content %>

</td>
<% end %>
</tr>