
<% if signed_in? %>

<table class="front" summary="Signed in members">

	<tr>
	 <td class="main round">
	 	<h1 class="micropost">What's Going On Today?</h1>
       	<%= render 'users/shared/micropost_form' %>
	 	<%= render 'users/shared/feed' %>
	 	<%= render 'users/shared/stats' %>


	 </td>
	<td class="sidebar round">
		 	<%= render 'users/shared/user_info.html' %>

	</td>
	
	</tr>


</table>

<% else %>
<h1>Welcome To Our Journal</h1>
<p>Welcome!!! This site was created by hand with Ruby on Rails. Sign up below and blog away!! I will posting random thoughts and pics for you to comment on. This is a journal site to share your thoughts and feelings with the rest of us. Thanks for looking! </p>
<%= link_to "Become a member now!", 'signup', :class => "signup_button round" %><br />
<%= image_tag("river.jpg", :alt => "dennissumlin.com", :class => "round") %> <%= image_tag("pinkflower.jpg", :alt => "dennissumlin.com", :class => "round") %> <%= image_tag("flowerPatch2.jpg", :alt => "dennissumlin.com", :class => "round") %> 
<%= image_tag("beach.jpg", :alt => "dennissumlin.com", :class => "round") %> <%= image_tag("duck.jpg", :alt => "dennissumlin.com", :class => "round") %> <%= image_tag("wall.jpg", :alt => "dennissumlin.com", :class => "round") %> 
<%= image_tag("window.jpg", :alt => "dennissumlin.com", :class => "round") %>


<% end %>