<header>
<%= link_to logo, root_path%> <br />


<nav class="round">

<ul>

<li><%= link_to "Home", home_path %></li>
	
<li><%= link_to "About", about_path %></li>
<li><%= link_to "Contact", contact_path %></li>
		<% if signed_in? %>
		<li><%= link_to "Profile", user_path(current_user)  %></li>
		<li><%= link_to "Members", users_path  %></li>
<% else %>
<li><%= link_to "Sign in", signin_path %></li>
<% end %>
<li><%= link_to "Help", '/help' %></li>
<li><%= link_to "DENNISSUMLIN.COM", 'http://www.dennissumlin.com' %></li>
<% if signed_in? %>
		<li><%= link_to "Sign out", '/signout' %></li>
		<li><%= link_to "Edit", edit_user_path(current_user) %></li>
	<% end %>


</ul>


</nav>
<a href="http://store.nike.com/us/en_us/?l=shop,pdp,ctr-inline/cid-1/pid-437003/pgid-437002"><%= image_tag("dunkmans.jpg", :alt => "dennissumlin.com", :class => "round") %> </a>
<a href="http://www.nicekicks.com/2011/02/nike-zoom-kobe-vi-glass-blue-detailed-photos-2/"><%= image_tag("kobeGlass.jpg", :alt => "dennissumlin.com", :class => "round") %></a>
<a href="http://solecollector.com/news/nike-zoom-kd-iv-black-history-month1/"> <%= image_tag("kdurants.jpg", :alt => "dennissumlin.com", :class => "round") %> </a>
<a href="http://www.nicekicks.com/2012/03/release-reminder-nike-lebron-9-mango/"><%= image_tag("mangos2.jpg", :alt => "dennissumlin.com", :class => "round") %></a>
<a href="http://www.engadget.com/2011/03/04/macbook-pro-review-early-2011/"><%= image_tag("vadar.jpg", :alt => "dennissumlin.com", :class => "round") %></a>
 <a href="http://www.etsy.com/search?q=stickers+macbook+mario&ref=related&page=1"><%= image_tag("shroom.jpg", :alt => "dennissumlin.com", :class => "round") %></a> 
<a href="http://www.nvrpa.org/park/occoquan/"><%= image_tag("tower.jpg", :alt => "dennissumlin.com", :class => "round") %></a>
</header>